# Servidor
PORT=3000

# MySQL (local / EC2)
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=cambia_esto
DB_NAME=web_fps_tournament

# Juego
TICK_RATE=30
ROUND_SECONDS=180
INTERMISSION_SECONDS=10
COUNTDOWN_SECONDS=5
RESPAWN_SECONDS=3
